# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/static/
media/

# ENV
.env
*.env

# VSCode
.vscode/

# IDEs and editors
.idea/
*.sublime-workspace
*.sublime-project

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo

# Django stuff:
*.migrations/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

