html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  overflow: hidden;
  background-color: #000;
  color: #fff;
  z-index: -2;
}

.navbar {
  position: fixed; /* Keeps navbar at the top */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 1000; /* Ensures navbar stays on top */
}

.home-container {
  height: 100vh;
  width: 100vw;
  /* padding: 20px; */
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 2.5vw;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content inside the container */
  align-items: center; /* Centers content inside the container */
  /* margin-top: 120px; Pushes content down to avoid overlap with the navbar */
}

.home-container p {
  font-size: 1.5vw;
  margin: 20px 0;
}

.bg {
  z-index: -1;
  position: absolute;
  height: 110vh;
  width: 110vw;
  background: url(../images/bg.png) no-repeat center center fixed;
  background-size: cover;
  filter: blur(5px);
}

.home-header {
  margin-bottom: 20px;
  text-align: center;
}

.home-cta {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.home-button {
  text-decoration: none;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.home-button-secondary {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.home-footer {
  margin-top: 180px;
  display: none;
  padding: 10px;
  background-color: #f8f9fa;
  color: #666;
}
